<!-- <ion-view>
<ion-content>
<br>
<p><button ng-Click="SignIn()">List Books to Console </button></p>

<p><a href='#/add'>Add Person</a></p>


<p><a href='#/multiform/page1'>Controls Playarea</a></p>
<Br>
<p><a href='#/listpersons'>List Persons From D text</a></p>


<a href='http://applicantportal.burycollege.ac.uk/elfapp/api/AppSql/SaveForm'>http://applicantportal.burycollege.ac.uk/elfapp/api/AppSql/SaveForm</a>
</ion-content>
</ion-view> -->

<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
      <h1 class="title">Workplace Learning / Apprenticeship Enrolment Form & Learning Agreement</h1>
    </ion-header-bar>

	<ion-content class='padding'>		


	<DIV class='centerdiv'>
      <p>&nbsp;</p>
      <a style="text-decoration: none;"  href='#/multiform/page1'>
      <div class="row">
        <div class="col col-150 col-offset-20">
          <span class="ion-compose" style='font-size:100px;float:left;' data-pack="default"></span>
          <H1>&nbsp;&nbsp;Create New Form</H1>
        </div>
      </div>
      </a>
 <!--      <hr> -->
    <p>&nbsp;</p>
    <a style="text-decoration: none;"  href='#/listpersons'>
      <div ng-click='viewformsondevice()' class="row">
        <div class="col col-150 col-offset-20">
          <span class="ion-ipad" style='font-size:100px;float:left;' data-pack="default"></span>
          <H1>&nbsp;&nbsp;&nbsp;&nbsp;Views Forms On Device</H1>
        </div>
      </div>
    </a>

    <p>&nbsp;</p>
    <a style="text-decoration: none;"  href='#/log'>
      <div class="row">
        <div class="col col-150 col-offset-20">
          <span class="ion-ios-box-outline" style='font-size:100px;float:left;' data-pack="default"></span>
          <H1>&nbsp;&nbsp;&nbsp;&nbsp;Log Of Forms Submitted</H1>
        </div>
      </div>
    </a>

    <p>&nbsp;</p>
    <a style="text-decoration: none;"  href='#/login'>
      <div class="row">
        <div class="col col-150 col-offset-20">
          <span class="ion-ios-close-outline" style='font-size:100px;float:left;' data-pack="default"></span>
          <H1>&nbsp;&nbsp;&nbsp;&nbsp;Logout</H1>
        </div>
      </div>
    </a>
   <!--    <hr> -->
      <!-- <p>&nbsp;</p>
      <div ng-click='logout()' class="row">
        <div class="col col-150 col-offset-20">
          <span class="ion-close-circled" style='font-size:80px;float:left;' data-pack="default"></span>
          <H1>&nbsp;&nbsp;&nbsp;LOGOUT</H1>
        </div>
      </div> -->
   <!--    <hr> -->
      <p style="height: 100px;">&nbsp;</p>
    </DIV>


	</ion-content>
</ion-view>